{% extends 'base.html.twig' %}
{% block title %}
	Administration
{% endblock %}
{% block mainContent %}
	<section class="flex-col-center">
		<h1>Administration</h1>
		<a class="button" href="{{pathToPublic}}{{adminLink}}/touslesarticles">Tous les articles</a>
		<a class="button" href="{{pathToPublic}}{{adminLink}}/commentaires">Tous les commentaires</a>
	</section>
{% endblock %}
