{% extends "base.html.twig" %}
{% block title %}
	Ajouter un article
{% endblock %}
{% block mainContent %}
	<section>
        <h1>Ajouter un article</h1>
        <div class="container-col-center">
            <form action="{{pathToPublic}}{{adminLink}}/article/ajouterunarticle/envoyer" method="POST" class="col-center">
                <div>
                    <label for="postTitle">Titre de l'article</label>
                    <textarea name="postTitle" id="postTitle" class="postTitle-textarea"></textarea>
                </div>
                <div>
                    <label for="postChapo">Chapô</label>
                    <textarea name="postChapo" id="postChapo" class="postChapo-textarea"></textarea>
                </div>
                <div>
                    <label for="postContent">Contenu de l'article</label>
                    <textarea name="postContent" id="postContent" class="postContent-textarea"></textarea>
                </div>
                <div>
                    <button type="submit">Valider</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
