{% extends 'base.html.twig' %}
{% block title %}
	Administration
{% endblock %}
{% block mainContent %}
	<section>
		<h1>Administration</h1>
		<div><a href="{{pathToPublic}}{{adminLink}}/touslesarticles">Tous les articles</a></div>
		<div><a href="{{pathToPublic}}{{adminLink}}/commentaires">Tous les commentaires</a></div>
	</section>
{% endblock %}
