{% extends 'base.html.twig' %}
{% block title %}
Connexion
{% endblock %}
{% block mainContent %}
<section>
            <h1>Connexion</h1>
            <form class="flex-col-center" action="../controllers/connexion.php" method="POST">
                <label for="email">Email</label><input class="input-txt" id="email" name="email" />
                <label for="password">Mot de passe</label><input class="input-txt" id="password" name="password" />
                
                <button type="submit">Envoyer</button>
            </form>
    </section>
{% endblock %}