{% extends 'base.html.twig' %}
{% block title %}
	Connexion
{% endblock %}
{% block mainContent %}
	<section>
		{% if errorMessage is same as("emailError") or errorMessage is same as("passwordError") %}
			<div class="error-msg-container">
				<b class="error-msg">
					{% if errorMessage is same as("emailError")%}Connexion refusée (L'email n'existe pas){% endif %}
                    {% if errorMessage is same as("passwordError")%}Connexion refusée (mot de passe incorrect){% endif %}
                </b>
			</div>
		{% endif %}
		<h1>Connexion</h1>
		<form class="flex-col-center" action="{{pathToPublic}}connexion/valider" method="POST">
			<label for="email">Email</label><input class="input-txt" id="email" name="email" type="email" placeholder="Écrivez ici votre email..." />
			<label for="password">Mot de passe</label><input class="input-txt" id="password" name="password" type="password" placeholder="Écrivez ici votre mot de passe..." />
			<button type="submit">Envoyer</button>
		</form>
	</section>
{% endblock %}
