{% extends "base.html.twig" %}
{% block title %}
	Test User
{% endblock %}
{% block mainContent %}
	<div>
    {% for user in userData %}
      objet : {{user.name}} <br />
    {% endfor %}
    array : {{test2.name}}
  </div>

{% endblock %}
