@import 'utils/variables';
@import 'utils/mixins';
@import 'base/fonts';
@import 'base/reset';
@import 'base/general';
@import 'base/sections';
@import 'layouts/header';
@import 'layouts/footer';
@import 'components/buttons';
@import 'components/links';

// Page spécifique : home.twig
.img-home {
  width: 90%;
  max-width: 300px;
  box-shadow: 0px 0px 5px lighten($blue, 42%);
}

.flex-center {
  display: flex;
  justify-content: center;
}

// Page spécifique : postList.twig
.background-img-postList {
  background-size: cover;
  width: 90%;
  background-position: center center;
  height: 40vh;
}

.postList-container {

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @include tablette {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (min-width: 450px) and (max-width: 767px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .post-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .post-infos {
      width: 90%;
      text-align: center;

      h3 {
        font-size: 25px;
        text-transform: uppercase;
      }

      a {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }
}

// Page spécifique : post.twig
.blogPost-main {
  display: flex;
  justify-content: center;

  h1 {
    margin-bottom: 15px;

    @include desktop {
      margin-bottom: 20px;
    }

    @include tablette {
      margin-bottom: 20px;
    }
  }

  .blogPost-main__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include tablette {
      width: 70%;
    }

    @include desktop {
      width: 70%;
    }

    @media screen and (min-width: 450px) and (max-width: 767px) {
      max-width: 70%;
    }

    .post-content,
    .post-update,
    .post-chapo {
      text-align: left;
      width: 100%;
    }

    .post-chapo {
      font-size: 20px;
      margin-top: 20px;
    }

    .post-update {
      font-style: italic;
      margin-bottom: 30px;
      font-size: 15px;
    }
  }
}

.background-img-post {
  background-size: cover;
  width: 100%;
  background-position: center center;
  height: 40vh;

  @include desktop {
    height: 50vh;
  }

  @include tablette {
    height: 50vh;
  }
}

.blogPost-comments {
  display: flex;
  flex-direction: column;
  align-items: center;

  .blogPost-comments-container {
    width: 80%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;

    div.comment-info1 {
      font-style: italic;
      font-size: 15px;
    }

    div.comment-info2 {
      font-weight: 700;
      margin-bottom: 15px;
    }
  }

  .blogPost-comments-container:nth-child(odd) {
    background-color: $blue3;
  }

  .blogPost-comments-container:nth-child(even) {
    background-color: lighten($blue3, 6%);
  }
}

.blogPost-comment {
  display: flex;
  justify-content: center;
  text-align: center;

  &__container {
    width: 80%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      width: 100%;
    }

    &__textarea {
      width: 100%;
      height: 200px;
    }
  }

}

// Page spécifique : adminPostList.twig
.checkbox-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  width: 90%;

  @include desktop {
    flex-direction: row;
  }

  @include tablette {
    flex-direction: row;
    width: 97%;
  }

  .checkbox-container {

    @include desktop {
      display: flex;
      width: 230px;
      align-items: center;
    }

    @include tablette {
      display: flex;
      width: 250px;
      align-items: center;
    }

    label {
      margin-bottom: 0;
      vertical-align: middle;

      @include tablette {
        margin-right: 10px;
      }
    }

    input {
      vertical-align: middle;

      @include desktop {
        margin-right: 8px;
      }

      @include tablette {
        margin-right: 8px;
      }
    }

  }

  .post-list-admin-link-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include desktop {
      flex-direction: row;
    }

    @include tablette {
      flex-direction: row;
    }

    .post-admin-link {
      width: 100%;

      .tiny-button {
        margin: 5px 0;

        @include desktop {
          max-width: 220px;
        }

        @include tablette {
          max-width: 180px;
        }
      }
    }
  }
}





.blogPostListAdminCheckbox {
  height: 30px;
  width: 30px;
  margin: 0;
}

.post-list-admin-container {
  width: 100%;

  @include desktop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
  }

  @include tablette {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3%;
  }

  .postListAdmin__post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    @include desktop {
      flex-direction: row;
      background-color: $blue3;
      width: 90%;
      padding: 10px;
    }

    @include tablette {
      flex-direction: row;
      background-color: $blue3;
      width: 97%;
      padding: 10px;
    }

    .postListAdmin__img__container {
      width: 100%;

      @include desktop {
        width: auto;
      }

      @include tablette {
        width: auto;
      }

      .postListAdmin__img {
        background-size: cover;
        background-position: center center;
        height: 30vh;
        width: 90%;

        @include desktop {
          width: 100px;
          height: 100px;
        }

        @include tablette {
          width: 100px;
          height: 100px;
        }
      }


    }

    .postAdmin__container {

      @include desktop {
        height: 100px;
      }

      @include tablette {
        height: 100px;
      }

      .post-list-admin-link-container {

        @include desktop {
          display: flex;
          height: 100%;
          align-items: flex-end;
        }

        @include tablette {
          display: flex;
          height: 100%;
          align-items: flex-end;
        }

        .post-admin-link {

          .tiny-button {

            @include desktop {
              padding: 3px 15px;
              margin-top: 0;
              margin-bottom: 0;
              margin-right: 10px;
            }

            @include tablette {
              padding: 3px 15px;
              margin-top: 0;
              margin-bottom: 0;
              margin-right: 10px;
            }
          }
        }

        .post-admin-link:nth-child(1) {

          .tiny-button {

            @include desktop {
              margin-left: 10px;
            }

            @include tablette {
              margin-left: 10px;
            }
          }
        }

        .post-admin-link:nth-child(2) {

          .tiny-button {

            @include desktop {
              width: 170px;
            }

            @include tablette {
              width: 170px;
            }
          }
        }
      }
    }

    .blogPostListAdminCheckbox {
      margin-bottom: 10px;

      @include desktop {
        margin: 0 10px;
      }

      @include tablette {
        margin: 0 10px;
      }
    }
  }
}



.postAdmin__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

// Page spécifique : adminCommentsList
.comment-admin-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 3px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;

  .comment-admin-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 15px;
    background-color: lighten($blue3, 20%);

    .pending-txt {
      font-weight: 700;
      color: grey;
    }

    .rejected-txt {
      font-weight: 700;
      color: $red;
    }

    .published-txt {
      font-weight: 700;
      color: $green;
    }

    .comment-admin-link-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: 500px) and (max-width: 767px) {
        flex-direction: row;
      }

      @include tablette {
        flex-direction: row;
      }

      @include desktop {
        flex-direction: row;
      }

      .comment-admin-link-subcontainer {
        margin: 0 5px;
        width: 100%;

        .comment-admin-link {
          margin-bottom: 0;
        }
      }
    }
  }

  .pending {
    border: 2px solid grey;
    padding: 15px;
  }

  .rejected {
    border: 2px solid $red;
    padding: 15px;
  }

  .published {
    border: 2px solid $green;
    padding: 15px;
  }
}

// Pages spécifiques : add et update post
#postFile {
  box-shadow: none;
  padding-left: 0;
}

#section-admin-post {
  background-color: $blue3;
}

.select-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;

  @include desktop {
    max-width: 600px;
  }

  select#idUser {
    height: 40px;
  }
}




// Sur plusieurs pages en même temps : 



.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-center {
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  @include tablette {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.postListAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.postAdmin__title {
  margin: 0 5px;
}

.postAdmin__link {
  margin: 0 5px;
}

.container-col-center {
  display: flex;
  justify-content: center;
}

.col-center>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

.postTitle-textarea {
  height: 40px;
}

.postContent-textarea {
  height: 500px;
}

.validation-msg-container,
.error-msg-container {
  display: flex;
  justify-content: center;
}

.error-msg,
.validation-msg {
  text-align: center;
  padding: 15px 30px;
}

.validation-msg {
  border: 2px solid $green;
  background-color: lighten($green, 60%);
}

.error-msg {
  border: 2px solid $red;
  background-color: lighten($red, 40%);
}

// //////////////////////////////////////