{% extends "base.html.twig" %}
{% block title %}
	Accueil
{% endblock %}
{% block mainContent %}
	<section>
		{% if message == true %}
			<div class="validation-msg-container">
				<b class="validation-msg">
					{{message}}
				</b>
			</div>
		{% endif %}
		<h1>Valentin Moreau</h1>
		<div class="flex-center"><img src="../../images/photoValentin.jfif" class="img-valentin"/></div>
		<h2>Valentin Moreau, le développeur qu'il vous faut !</h2>
	</section>
	<section>
		<div>
			<h2>Me contacter</h2>
			<form class="flex-col-center" action="Contact.php" method="POST">
				<label>Nom</label><input id="lastName" name="lastName" class="input-txt" required/>
				<label>Prénom</label><input id="name" name="name" class="input-txt" required/>
				<label>Email</label><input type="email" id="email" name="email" class="input-txt" required/>
				<label>Titre</label><input id="sujet" name="sujet" class="input-txt" required/>
				<label>Message</label>
				<textarea id="corp" name="corp" required></textarea>
				<button type="submit">Envoyer</button>
			</form>
		</div>

	</section>
	<section>
		<div class="flex-col-center">
			<div class="flex-col-center">
				<h2>Mon CV</h2>
				<div>
					<a href="#">Lien vers mon CV</a>
				</div>
			</div>
			<div class="flex-col-center">
				<h2>Mes réseaux sociaux</h2>
				<div>
					<a href="https://www.linkedin.com/in/valentin-moreau-14325a161/">Linkedin</a>
				</div>
				<div>
					<a href="https://github.com/ValM34">Github</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
