{% extends "base.html.twig" %}
{% block title %}
	Accueil
{% endblock %}
{% block mainContent %}
	<section>
		<h1>Valentin Moreau</h1>
		<div class="flex-center"><img src="../images/photoValentin.jfif" class="img-valentin"/></div>
		<h2>Valentin Moreau, le développeur qu'il vous faut !</h2>
	</section>
	<section>
		<div>
			<h2>Me contacter</h2>
			<form class="flex-col-center" action="../app/Controllers/Contact.php" method="POST">
				<label>Nom</label><input id="lastName" name="lastName" class="input-txt"/>
				<label>Prénom</label><input id="name" name="name" class="input-txt"/>
                <label>Email</label><input id="email" name="email" class="input-txt"/>
				<label>Titre</label><input id="sujet" name="sujet" class="input-txt"/>
				<label>Message</label>
				<textarea id="corp" name="corp"></textarea>
				<button type="submit">Envoyer</button>
			</form>
		</div>

	</section>
	<section>
		<div class="flex-col-center">
			<div class="flex-col-center">
				<h2>Mon CV</h2>
				<div>
					<a href="#">Lien vers mon CV</a>
				</div>
			</div>
			<div class="flex-col-center">
				<h2>Mes réseaux sociaux</h2>
				<div>
					<a href="#">Linkedin</a>
				</div>
				<div>
					<a href="https://github.com/ValM34">Github</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
